<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clone.ohouse.mapper.UserMapper">

    <insert id="saveNewUserInfo" parameterType="User" useGeneratedKeys="true">
        insert into user_table (user_pw, user_nickname, user_email)
        values(
               #{userPw},
               #{userNickname},
               #{userEmail}
              )
    </insert>

<!--    <select id="findByEmail" resultType="com.clone.ohouse.domain.User">-->
<!--        select * from user-->
<!--    </select>-->
</mapper>